# Игнорируем все файлы логов
*.log

# Игнорируем папку node_modules
node_modules/

# Игнорируем временные файлы IDE
.vscode/
.idea/
..vs/
.out/
.build/
.CMakeLists.txt/

*.swp
*.suo
Thumbs.db
.DS_Store
